/* BODY HTML SCROLLBAR */
html,
body, html {
  overflow-x: hidden;
  height: unset;
  font-family: 'cairo';
}

* {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C3F8FF;
}

/*FIN BODY HTML SCROLLBAR */
.collapse {
  background-color: transparent !important;
}

/* NAVBAR */
.dropdown-menu.show {
  background-color: #000;
 border: .8px solid rgba(255, 255, 255, 0.40);
  box-shadow: #ffffff40 0px 0px 15px;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #6eeaf2
}
.navbar-nav .nav-link.active {
  color: #6eeaf2 !important;
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem !important
}

.dropdown-toggle {
  margin-top: .5rem;
  font-size: 1rem !important
}

.dropdown-menu {
  margin-top: 3rem !important;
}

.dropdown-item {
  color: white !important;
  font-size: 1.2rem;
  margin: 1rem 0rem;
 text-align: justify;
}

.dropdown-item:hover {
  color: black !important
}

.divNavbar {
  flex: 6;
  align-items: center;
  display: flex;
}
@media (max-width:990px) {
  .collapseLenguaje {
    background: rgb(0, 0, 0, .9) !important;
    backdrop-Filter: blur(2px);
    padding: 1rem 3rem !important;
    margin-Top: 1.09rem;
  }
}

/* FIN NAVBAR */

/* SECCION HEADER */
//  TITULO HEADER
@import url('https://fonts.googleapis.com/css?family=Cairo');
.title {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  top: 6rem;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.h1Title{
  background-image: url('../public/nube.gif');
  background-repeat: repeat;
  background-size: 50%;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  white-space: pre;
  transition: 1s ease-in-out;
  font-weight:900;
  font-family: 'Rubik';
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: 1s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}
//TITULO HEADER
.sectionHeader {
  background-size: cover;
  background-attachment: fixed;
  background-position: 10%;
  background-image: url("../public/compu.jpg");
  background-color: #0000006d;
  height: fit-content;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2%;
  position: relative;
  background-blend-mode: color-dodge;
}

.hedear1 {
  display: inline-block;
  justify-content: center;
  margin-top: 12rem;

}

.header {
  padding: 1%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: .7rem;
  flex-direction: column;
}
.headerImage {
  animation-name: headerImg;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: -2px;
  filter: drop-shadow(0px 0px 10px #ffffff90)
}

@keyframes headerImg {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}


/*     SOBRE NOSOTROS    */
.collapse {
  background-color: white;
  padding: 0;
}

.cardTransition {
  transition: transform .4s;
}

.card {
  border-radius: 2rem;
  width: 20rem;
  margin: 1rem;
}

.cardTransition:hover {
  transform: scale(1.05);
}

/* FIN SOBRE NOSOTROS */

/* MEDIA */
@media (max-width:420px) {
  .header img {
    width: 10rem !important;
    height: unset;
  }
  .h1Title {
    letter-spacing: .3rem !important;
    padding: 0rem !important;
    font-size: 1rem !important;
    white-space: pre
  }
  .h1Title2{
    font-weight: bold !important;
    margin-top: -2rem !important;
    white-space: normal !important;
  }

  .cardHeader .card {
    width: 10rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .aboutUsSection {
    margin: 1rem;
  }

  .sectionServicios .card {
    width: 15rem !important;
  }

  .cardBody {
    margin-top: 3.5rem !important;
    height: max-content !important;
    backdrop-filter: blur(1px) !important;
  }
  .cardNews{
    height: 36rem !important;
    width: 15rem !important;
  }

  .wrapperNews{
    height: 34rem;
    &:hover {
      .titleNews  {
        padding-bottom: 3rem !important;
      }
    }
  }
  .titleNews a {
    font-size: 1.5rem !important;
  }
  .dataNews {
    max-height: fit-content;
    margin-top: 1rem;
  }
  #contact{
    padding: 0% !important;
  }
  #contact .contactContainer{
   width: fit-content!important;
}
.contactContainer{
  padding: 10% !important;
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}
  #contacto img {
    height: 2rem;
    margin-top: 1rem;
  }

  .contactContainer input {
    width: 14rem;
  }

  .message {
    width: 14rem;
  }
}

@media (max-width:550px) {
  .contactContainer {
    justify-content: center;
    width: 20rem !important;
    padding: 1rem !important;
  }
  main {
    width: 60vw;
    margin:5rem 0rem;
  }
  .h1Title {
    letter-spacing: .3rem !important;
    padding: 1rem !important;
    font-size: 1.6rem !important;
    white-space: pre
  }
  .h1Title2{
    font-size: .8rem !important;
    font-weight: 400;
    margin-top: -1rem;
    letter-spacing: 0.1rem !important;
  }
.line{
  width: 200% !important;
}
  #contacto {
    padding-top: 2rem !important;
  }


  .sectionServicios {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .noticias {
    display: block !important;
  }
.cardHeader{
  width: 20rem !important;
  height: fit-content !important;
}
  .noticias .card {
    width: 22rem !important;
  }

  .footer {
    padding-bottom: 0rem;
  }

  .footerDiv {
    margin-top: 0em !important;
    padding: 0%;
  }
}

@media (max-width:970px) {
  .h1Title{
    letter-spacing: .2rem;
    font-size: 2.5rem;
  }
  .sectionServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding-bottom: 0rem;
  }

  .footerDiv {
    margin-top: 0em !important;
    padding: 0%;
  }
}
@media (max-width: 1100px){
  .h1Title {
    font-size: 1.5rem !important;
  }
  .h1Title2{
    font-size: 1.3rem !important;
  }
}
@media (max-width: 1300px){
  .h1Title {
    font-size: 2.5rem !important;
  }
  .h1Title2{
    font-size: 1.7rem !important;
  }
}
.backgroundAmplio {
  background-color: black;
  background-image: url('../public/gradient.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: .7rem;
  padding: 10px;
  border-radius: 15px;
}

/* SECCION SERVICIOS */


/*  */
.sectionServicios .card {
  width: 18rem;
  padding: 0px;
  border: none;
  box-shadow: rgba(255, 255, 255, .5) 0px 0px 20px;
}

/* BLOG NOTICIAS  */

#contact{
  margin-top: 2rem !important;
}
#contacto img {
  filter: drop-shadow(#fff 0px 0px 2px);
}

/* SECCION FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  height: 5em;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  position: relative;
  padding-bottom: 5%
}

.footer p {
  padding-top: 2rem;
}

.content-wrap {
  padding-bottom: 0em;
}

/* SECCION FOOTER */
.contactButton:hover{
  color:#6eeaf2 !important;
  border-color: #6eeaf2 !important;
  background-color: black!important;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #6ee9f2;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

.aNews {
  text-decoration: none;
}
.h1News {
  font-family: $open-sans;
  font-weight: 300;
}


// Base styles
.cardNews {
  width: 20rem;
  height: 30rem !important;
  border-radius: 2px !important;
  .wrapperNews {
    height: 29.9rem;
    position: relative;
    overflow: hidden;
    &:hover {
      .dataNews {
        transform: translateY(0);
      }
      .textNews {
        height: fit-content;
        margin: 0;
      }
     
    }
  }
  .dataNews {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .titleNews {
    margin: 10px;
    white-space:pre
  }
  .textNews {
    height: 70px;
    margin: 0;
    color: $black,
  }
}

// First example styles
.example-1 {
  .dateNews {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    .spanNews {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    backdrop-filter: blur(6px);
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .titleNews {
    .aNews {
      color: lighten($black, 40%);
      font-size: 2rem;
    }
  }
    .spanNews{
      top: 10px;
    }
  }


