//  TITULO HEADER
@import url('https://fonts.googleapis.com/css?family=Cairo');
.title {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  top: 5rem;
  left: 2rem;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: fit-content;
  letter-spacing: 1px;
  line-height:2;
  white-space: pre;
}

.h1Title{
  background-image: url('../public/smoke.gif');
  background-size: cover;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 4rem;
  transition: 1s ease-in-out;
  font-weight: bold;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: 1s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}
//TITULO HEADER


/* BODY HTML SCROLLBAR */
html,
body, html {
  overflow-x: hidden;
  height: unset;
  font-family: monospace;
}

* {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C3F8FF;
}

/*FIN BODY HTML SCROLLBAR */
.collapse {
  background-color: transparent !important;
}

/* NAVBAR */
.dropdown-menu.show {
  background-color: black;
  box-shadow: #ffffff30 0px 0px 15px;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #6eeaf2
}
.navbar-nav .nav-link.active {
  color: #6eeaf2 !important;
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem !important
}

.dropdown-toggle {
  margin-top: .5rem;
  font-size: 1.3rem !important
}

.dropdown-menu {
  margin-top: 3rem !important;
}

.dropdown-item {
  color: white !important;
  font-size: 1.5rem;
  margin: 1rem 0rem;
}

.dropdown-item:hover {
  color: black !important
}

.divNavbar {
  flex: 6;
  align-items: center;
  display: flex;
}
@media (max-width:990px) {
  .collapseLenguaje {
    background: rgb(0, 0, 0, .9) !important;
    backdrop-Filter: blur(2px);
    padding: 1rem 3rem !important;
    margin-Top: 1.09rem;
  }
}

/* FIN NAVBAR */

/* SECCION HEADER */
.sectionHeader {
  background-size: cover;
  background-attachment: fixed;
  background-position: 10%;
  background-image: url("../public/compu.jpg");
  background-color: #0000006d;
  height: fit-content;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2%;
  position: relative;
  background-blend-mode: color-dodge;
}

.hedear1 {
  display: inline-block;
  justify-content: center;
  margin-top: 12rem;

}

.header {
  padding: 1%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: .7rem;
  flex-direction: column;
}
.headerImage {
  animation-name: headerImg;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: -2px;
  filter: drop-shadow(0px 0px 10px #ffffff90)
}

@keyframes headerImg {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}


/*     SOBRE NOSOTROS    */
.collapse {
  background-color: white;
  padding: 0;
}

.cardTransition {
  transition: transform .4s;
}

.card {
  border-radius: 2rem;
  width: 20rem;
  margin: 1rem;
}

.cardTransition:hover {
  transform: scale(1.05);
}

/* FIN SOBRE NOSOTROS */

/* MEDIA */
@media (max-width:280px) {
  .header img {
    width: 10rem !important;
    height: unset;
  }
  .cardHeader {
    align-items: flex-start !important;
  }

  .cardHeader .card {
    width: 10rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .aboutUsSection {
    margin: 1rem;
  }

  .sectionServicios .card {
    width: 15rem !important;
  }

  .cardBody {
    margin-top: 3.5rem !important;
    height: max-content !important;
    backdrop-filter: blur(1px) !important;
  }

  #contacto .contactContainer {
    width: 16rem !important;
  }

  #contacto img {
    height: 2rem;
    margin-top: 1rem;
  }

  .contactContainer input {
    width: 14rem;
  }

  .message {
    width: 14rem;
  }

  #contacto {
    padding: 1rem !important;
  }
}

@media (max-width:550px) {
  .contactContainer {
    justify-content: center;
    width: 20rem !important;
    padding: 1rem !important;
    margin-top: 1rem !important;
  }
  main {
    width: 60vw;
    margin:5rem 0rem;
  }
  .h1Title {
    letter-spacing: .2rem;
    padding: 1rem !important;
    font-size: 1.2rem;
    white-space: pre
  }
.line{
  width: 200% !important;
}
  #contacto {
    padding-top: 2rem !important;
  }


  .sectionServicios {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .noticias {
    display: block !important;
  }
.cardHeader{
  width: 20rem !important;
  height: fit-content !important;
}
  .noticias .card {
    width: 22rem !important;
  }

  .footer {
    padding-bottom: 0rem;
  }

  .footerDiv {
    margin-top: 0em !important;
    padding: 0%;
  }
}

@media (max-width:970px) {
  .sectionServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding-bottom: 0rem;
  }

  .footerDiv {
    margin-top: 0em !important;
    padding: 0%;
  }
}

.backgroundAmplio {
  background-color: black;
  background-image: url('../public/gradient.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: .7rem;
  padding: 10px;
  border-radius: 15px;
}

/* SECCION SERVICIOS */


/*  */
.sectionServicios .card {
  width: 18rem;
  padding: 0px;
  border: none;
  box-shadow: rgba(255, 255, 255, .5) 0px 0px 20px;
}

/* BLOG NOTICIAS  */
.noticias {
  display: flex;
}

.noticias .card {
  border: 1px solid #00000050;
  width: 30rem;
  border-radius: .5rem;
  height: 15rem;
  margin: 2rem;
  background-color: white
}

.noticias h3 {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 0 10px;
}

.noticias h6 {
  color: #00000090
}
#contact{
  margin-top: 2rem !important;
}
#contacto img {
  filter: drop-shadow(#fff 0px 0px 2px);
}

/* SECCION FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  height: 5em;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  position: relative;
  padding-bottom: 5%
}

.footer p {
  padding-top: 2rem;
}

.content-wrap {
  padding-bottom: 0em;
}

/* SECCION FOOTER */
.contactButton:hover{
  color:#6eeaf2 !important;
  border-color: #6eeaf2 !important;
  background-color: rgba(255, 255, 255, 0.136)!important;
}