/* BODY HTML SCROLLBAR */
html,
body, html {
  overflow-x: hidden;
  height: unset;
}

* {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C3F8FF;
}

/*FIN BODY HTML SCROLLBAR */


/* NAVBAR */
.nav-link {
  font-size: 2rem;
  margin: 0px 3rem 0px 3rem;
}

.navbar img {
  margin-right: 2rem;
}

.navbar {
  height: 5rem;
  background-color: rgb(0, 0, 0, .4);
  backdrop-filter: blur(10px);
  font-weight: bold;
}

/* FIN NAVBAR */

/* SECCION HEADER */
.sectionHeader {
  background-size: cover;
  background-attachment: fixed;
  background-position: 10%;
  background-image: url("../public/compu.jpg");
  background-color: #05b8ff43;
  flex-direction: column;
  display: flex;
  padding-bottom: 2%;
  position: relative;
  background-blend-mode: color-dodge;
}

.header {
  margin-top: 10rem;
  color: black;
  padding: 1%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerImage {
  animation-name: headerImg;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: -2px;
  filter: drop-shadow(0px 0px 10px #ffffff90)
}

@keyframes headerImg {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/* SECCION PORTFOLIO */
.portfolio {
  background-color: white;
  border: 3px solid #ABD9FF;
  height: fit-content;
  margin: 2%;
}

/*     SOBRE NOSOTROS    */
.nosotrosSection .card {
  background-color: rgba(255, 255, 255, 0.81);
  color: black;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.5);
  height: fit-content;
  backdrop-filter: blur(2px);
  margin-bottom: 3rem;
}

.cardTransition {
  transition: transform .4s;
}

.card {
  border-radius: 2rem;
  width: 20rem;
  margin: 1rem;
}

.cardTransition:hover {
  transform: scale(1.05);
}

/* FIN SOBRE NOSOTROS */

/* MEDIA */
@media (max-width:280px) {
  .header {
    padding: 1rem !important;
  }

  .header img {
    width: 10rem !important;
    height: unset;
  }

  .btnHeader {
    width: 5.2rem !important;
    height: 2.5rem !important;
    font-size: .9rem !important;
    padding: 0 !important;
    margin: 1rem !important;
  }

  .cardHeader {
    align-items: flex-start !important;
  }

  .cardHeader .card {
    width: 16rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .nosotrosSection {
    margin: 1 rem;
  }

  .sectionServicios .card {
    width: 15rem !important;
  }

  .cardBody {
    margin-top: 3.5rem !important;
    height: max-content !important;
    backdrop-filter: blur(1px) !important;
  }

  #contacto .contactContainer {
    width: 16rem !important;
  }

  #contacto img {
    height: 2rem;
    margin-top: 1rem;
  }

  .contactContainer input {
    width: 14rem;
  }

  .message {
    width: 14rem;
  }

  #contacto {
    padding: 1rem !important;
  }
}

@media (max-width:550px) {
  .contactContainer {
    justify-content: center;
    width: 20rem !important;
    padding: 1rem !important;
    margin-top: 1rem !important;
  }

  #contacto {
    padding-top: 2rem !important;
  }

  .cardHeader .card {
    width: 20rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .sectionServicios {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding-bottom: 0rem;
  }

  .footerDiv {
    margin-top: 0em !important;
    padding: 0%;
  }
}

@media (max-width:900px) {
  .sectionServicios {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding-bottom: 0rem;
  }

  .footerDiv {
    margin-top: 0em !important;
    padding: 0%;
  }
}

.backgroundAmplio {
  background-image: url('../public/koy10.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: .7rem;
  padding: 10px;
  border-radius: 15px;
}

/* SECCION SERVICIOS */
.sectionServicios {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  width: unset;
}

/* #e66465 */
.sectionServicios .card {
  width: 18rem;
  padding: 0px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.519) 5px 5px 15px;
}

/* BLOG NOTICIAS  */
.noticias{
  display: flex;
}
.noticias .card{
  border: 1px solid #00000050;
  width: 35rem;
  border-radius: 2px;
  height: 15rem;
  margin: 10px;
  background-color:transparent
}
.noticias h3{
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 0 10px;
}
.noticias h6{
  color:#00000090
}
/* SECCION FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  height: 5em;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: end;
  display: flex;
  align-items: center;
  position: relative;
}

.footer p {
  margin-top: 1.5rem;
}

.content-wrap {
  padding-bottom: 0em;
}

/* SECCION FOOTER */