.typewriter h1 {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  background-color: #000000a2;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  50% {
    border-color: orange
  }
}

.nav-link {
  font-family: helvetica;
  font-size: 2rem;
  margin: 0px 3rem 0px 3rem;
}

.navbar img {
  margin-right: 2rem;
}

.navbar {
  height: 5rem;
  background-color: transparent;
  border-bottom: 1px solid black;
  background-color: #ffffff;
  font-weight: bold;
}

.nosotrosSection {
  background-image: url('../public/koy10.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: unset;
  padding: 5rem;
  border-top: 2px solid white;

}

.card {
  transition: transform .4s;
  border-radius: 2rem;
}

.card:hover {
  transform: scale(1.05);
}

.header {
  width: unset !important;
  height: unset !important;
  color: black;
  padding: 1%;
  box-shadow: #05B8FF -4px 4px 0px;
  border-radius: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.242);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header:hover {
  box-shadow: #fff 0px 0px 20px;

}
@media (max-width:380px) {
  .header {
    margin: 0%;
  }

  .nosotrosSection {
    display: block;
    margin: 0;
  }

  .div1 {
    display: flex;
    flex-direction: column;
    flex:content;
  }

  .typewriter h1 {
    margin: 0%;
    font-size: 1rem;
  }
}


.sectionHeader {
  background-size: cover;
  background-attachment: fixed;
  background-position: 10%;
  background-image: url('../public/monitor.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #C8E4FE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}