

.swiper {
    width: 65%;
    height: 100%;
    align-items: center;
    display: flex;
    background-color: black;
  }
  
  .swiper-slide {
    padding: 5%;
    text-align: center;
    font-size: 18px;
    background-color:black;
    border: 1px solid white;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color:white
  }
  
  .swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
.swiper-slide:nth-child(1n) {
  background-color:black;
}

.swiper-slide:nth-child(2n) {
  background-color:black;
}

.swiper-slide:nth-child(3n) {
  background-color: black;
}

.swiper-slide:nth-child(4n) {
  background-color:black;
}

.swiper-slide:nth-child(5n) {
  background-color: black;
}

.swiper-slide:nth-child(6n) {
  background-color:black;
}

.swiper-slide:nth-child(7n) {
  background-color: black;
}

.swiper-slide:nth-child(8n) {
  background-color: black;
}

.swiper-slide:nth-child(9n) {
  background-color: black;
}

.swiper-slide:nth-child(10n) {
  background-color:black;
}
